<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/logo.svg" type="image/svg+xml">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Configuration - Duplicate Image Finder</title>
</head>

<body>
  <form method="post" class="column">
    <h1 class="center">Duplicate Image Finder</h1>

    <div class="item vertical">
      <label for="path">Paste the absolute directory path, you want to search for duplicate images:</label>
      <input type="text" id="path" name="path" />
    </div>

    <h2>Additional options</h2>

    <div class="item">
      <label for="recursive">Recursive search?</label>
      <input type="checkbox" id="recursive" name="recursive" value="true">
    </div>

    <div class="submit-container">
      <button type="submit" id="submit">Start searching</button>
    </div>
  </form>
</body>

</html>